/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import '../design'

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

#homeRoot
  max-width: space(100)
  // padding: space(1) 15%
  padding: space(1)
  // background-color: pink

#addTableButtonContainer
  text-align: center