///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          NOTES
//  - design system components
//    > Breakpoints
//    > Layout
//    > Colors
//    > Type Definition
//    > Type Styles
//    > Animation

@use "sass:color";

///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                    BREAKPOINTS

$mobile-breakpoint: 788px;

@mixin mobile-media {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}
// usage:
// @use 'design'
// @include design.mobile-media
//    background-color: red


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         LAYOUT

$space-unit: 8px;

@function space($multiplier) {
  @return $multiplier * $space-unit;
}
// usage:
// margin-left: space(8)


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         COLORS

$light-on-dark-button-primary: #dadada;
$light-on-dark-button-brighten: lighten($light-on-dark-button-primary, 100);
$light-on-dark-button-disabled: #6b6b6b;

$link: #212ee7;
$link-highlight: #2a38ff;

$brButton-hover: rgba(0,0,0,0.08);
$brButton-focus: rgba(0,0,0,0.05);
$brButton-active: rgba(0,0,0,0.2);
$brButton-rippleDarker: rgba(0,0,0,0.8);

$lancer-primary: rgb(204,0,0);
$lancer-primary-text: #FFFFFF;
$lancer-sgControlBg: #ffc0cb;
$lancer-sgControlButtonShadow: rgba(204,0,0,0.4);
$lancer-sgControlButtonHoverBg: #f86b6b;
$lancer-sgControlButtonHoverShadow: #be0b0b;
$lancer-sgControlButtonHoverText: #FFFFFF;
$lancer-sgControlButtonFocusBg: #ff8e8e;
$lancer-sgControlButtonFocusShadow: #e61d1d;
$lancer-sgControlButtonFocusText: #FFFFFF;

$mothership-primary: #fffb00;
$mothership-primary-text: #000000;
$mothership-sgControlBg: #ccc900;
$mothership-sgControlButtonText: #535200;
$mothership-sgControlButtonShadow: #838100;
$mothership-sgControlButtonHoverBg: #777;
$mothership-sgControlButtonHoverText: #FFF;
$mothership-sgControlButtonHoverShadow: #000;
$mothership-sgControlButtonFocusBg: #fffb00;
$mothership-sgControlButtonFocusText: #000;
$mothership-sgControlButtonFocusShadow: #a29d00;
$mothership-sgControlButtonActiveBg: #000;
$mothership-sgControlButtonActiveText: #FFF;
$mothership-sgControlButtonActiveShadow: #fffb00;

$uvg-primary: #c00bf7;
$uvg-primary-text: #FFFFFF;
$uvg-sgControlBg: #e595fd;
$uvg-sgControlButtonText: #5a0333;
$uvg-sgControlButtonShadow: #f006bd;
$uvg-sgControlButtonHoverBg: #f006bd;
$uvg-sgControlButtonHoverText: #FFF;
$uvg-sgControlButtonHoverShadow: #8f0383;
$uvg-sgControlButtonFocusBg: #eb4ddd;
$uvg-sgControlButtonFocusText: #FFF;
$uvg-sgControlButtonFocusShadow: #b603a7;

$temporary-subtable-titlebar-primary: $lancer-primary;


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                TYPE DEFINITION

$inter-font-path: "../fonts/inter/";

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("#{$inter-font-path}/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("#{$inter-font-path}/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("#{$inter-font-path}/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("#{$inter-font-path}/Inter-SemiBold.woff") format("woff");
}


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                    TYPE STYLES

@mixin makeBlockMargins($value) {
  margin-block-start: $value;
  margin-block-end: $value;
}

@mixin less-margin-type {
  @include makeBlockMargins(0.5em);
}

@mixin page-title-type {
  @include makeBlockMargins(0);
  margin-inline-start: 0;
  margin-inline-end: 0;
}

// h3 (in global.sass) 
@mixin subtable-group-name-type {
  @include makeBlockMargins(0.25em);
}

// h4 (in global.sass) 
// is assigned BodyRollComponent content Name in cases where format === "detail"
@mixin body-roll-content-name-type {
  @include makeBlockMargins(0.6em);
}

@mixin copy-type {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}

@mixin link-styling {
  color: $link;
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
    color: #FFF;
    background: $link-highlight;
  }
}

@mixin makeMargins($value) {
  margin-block-start: $value;
  margin-block-end: $value;
}

// usage:
// @include art-meta-copy-type


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                     ANIMATIONS

// mixin replicating keyframe animation for different vendors
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content };
  @-moz-keyframes #{$name} { @content };
  @-ms-keyframes #{$name} { @content };
  @keyframes #{$name} { @content };
}
// usage:
// @include keyframes(fade-in) {
//   0%    {opacity: 0;}
//   100%  {opacity: 1;}
// }

@mixin buttonRipple {
  @include keyframes(buttonRipple) {
    0%    { background-color: $brButton-hover; }
    50%   { background-color: $brButton-rippleDarker; }
    100%  { background-color: $brButton-hover; }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                    TRANSITIONS

.bodyrollTransition-enter, .bodyrollTransition-appear { 
  transform: translate(0, -150%);
}
.bodyrollTransition-enter-active, .bodyrollTransition-appear-active {
  transform: translate(0, 0);
  transition: transform 0.3s;
}
.bodyrollTransition-exit {
  transform: translate(0, 0);
}
.bodyrollTransition-exit-active {
  transform: translate(0, 150%);
  transition: transform 0.3s;
}

.tgHeight-enter {
  height: 0px;
  margin-bottom: 0px;
}
.tgHeight-enter-active {
  height: 42px;
  margin-bottom: 32px;
  transition: height 0.3s, margin-bottom 0.3s;
}
.tgHeight-exit {
  height: 42px;
  margin-bottom: 32px;
}
.tgHeight-exit-active {
  height: 0px;
  margin-bottom: 0px;
  transition: height 0.3s, margin-bottom 0.3s;
}

.sgHeight-enter {
  transform: translate(0, -150%);
  margin-bottom: 0px;
}
.sgHeight-enter-active {
  transform: translate(0, 0%);
  margin-bottom: 24px;
  transition: margin-bottom 0.3s, transform 0.2s;
}
.sgHeight-exit {
  transform: translate(0, 0%);
  margin-bottom: 24px;
}
.sgHeight-exit-active {
  transform: translate(0, 150%);
  margin-bottom: 0px;
  transition: margin-bottom 0.3s, transform 0.2s;
}