/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import './design'

$sideButtonContainerWidth: space(8)

$deleteButtonContainerWidth: $sideButtonContainerWidth
$rerollButtonContainerWidth: $sideButtonContainerWidth

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

#brRoot
  margin: space(1.5) 0
  display: grid
  grid-template-columns: $deleteButtonContainerWidth auto $rerollButtonContainerWidth
  grid-template-rows: auto
  overflow: hidden

  #contentContainer
    padding: 0 space(1)
    overflow: hidden
    // height: fit-content
    // transition: height 0.3s

.buttonContainer
  text-align: center
  margin: auto 0