///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          NOTES

  
///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          SETUP
  
@import 'design'


%TGControlEnabledSVG
  &:hover > svg
    fill: $light-on-dark-button-brighten
  & > svg
    transition: fill 0.2s
    fill: $light-on-dark-button-primary

%TGControlDisabledSVGPointer
  pointer-events: none
  & > svg
    fill: $light-on-dark-button-disabled
  
%defaultSgControlButtonColors
  box-shadow: 0 1px 1px 0px $lancer-sgControlButtonShadow
  &:focus
    background-color: $lancer-sgControlButtonFocusBg
    color: $lancer-sgControlButtonFocusText
    box-shadow: 0 2px 1px 0px $lancer-sgControlButtonFocusShadow  
  &:hover
    background-color: $lancer-sgControlButtonHoverBg
    color: $lancer-sgControlButtonHoverText
    box-shadow: 0 2px 1px 0px $lancer-sgControlButtonHoverShadow
  &:active
    background-color: $lancer-sgControlButtonFocusBg
    color: $lancer-sgControlButtonFocusText
    box-shadow: 0 0px 1px 0px $lancer-sgControlButtonFocusShadow  
    



///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         STYLES

button
  background-color: white
  border: none
  cursor: pointer

.closeTGButton
  padding: 1px 2px 0
  height: space(3.25)
  @extend %TGControlEnabledSVG

.moduleTGLink
  @extend %TGControlEnabledSVG
  &.disabled
    @extend %TGControlDisabledSVGPointer

.rollTGButton
  padding: 1px
  height: space(3.25)
  @extend %TGControlEnabledSVG
  
  &:disabled 
    @extend %TGControlDisabledSVGPointer

.controlsSG
  height: space(4)
  padding: space(0.5) space(1)
  margin-right: space(1)
  border-radius: space(2)
  position: relative
  display: flex
  outline: none
  align-items: center
  @extend %defaultSgControlButtonColors
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s, top 0.1s
  &:focus
    height: calc(#{space(4)} + 2px)
    top: -1px
    outline: none
  &:hover
    height: calc(#{space(4)} + 2px)
    top: -2px
  &:active
    top: 1px
  


  > svg
    height: 18px
    transition: fill 0.2s

  > span
    font-size: 14px
    padding-bottom: 1px
    margin-right: space(0.5)

  &:last-of-type
      margin-right: 0

.sgExpand
  background: transparent
  color: pink
  transition: transform 0.3s
  &:focus
    outline: none
  > svg
    transition: fill 0.3s
  
  // when sgExpand button CLOSES sgControl
  &.close
    color: white
    transform: rotate(-180deg)

