///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          NOTES

  
///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          SETUP
  
@import 'design'


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         STYLES

button
  background-color: white
  border: none
  cursor: pointer

.closeTGButton
  padding: 1px 2px 0
  height: space(3.25)

.moduleTGLinkEnabled

.moduleTGLinkDisabled
  pointer-events: none
  & > svg
    fill: #9c9c9c

.rollTGButton
  padding: 1px
  height: space(3.25)

.controlsSG
  height: space(4)
  padding: space(0.5) space(1)
  margin-right: space(1)
  border-radius: space(2)
  display: flex
  align-items: center

  > svg
    height: 75%

  > span
    font-size: 14px
    padding-bottom: 1px
    margin-right: space(0.5)

  &:last-of-type
      margin-right: 0
