///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          NOTES

  
///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          SETUP
  
@import 'design'


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         STYLES

*:focus
  outline: 1px dotted white

body
  margin: 0
  font-family: Inter

h1
  @include page-title-type

h3
  @include subtable-group-name-type

// BodyRollComponent content Name in cases where format === "detail"
h4
  @include body-roll-content-name-type

p
  @include less-margin-type
  @include copy-type




// .bodyrollTransition-enter
//   transform: translate(0, -150%)

// .bodyrollTransition-enter-active
//   transform: translate(0, 0)
//   transition: transform 0.2s

// .bodyrollTransition-exit
//   transform: translate(0, 0)

// .bodyrollTransition-exit-active
//   transform: translate(0, 150%)
//   transition: transform 0.1s