/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import 'design'

$subtable-side-padding: space(2)
$subtable-control-animation-duration: 0.2s
$subtable-control-height-transition: height $subtable-control-animation-duration, padding-top $subtable-control-animation-duration, padding-bottom $subtable-control-animation-duration
/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

.subtableRoot
  margin: space(3) 0
  position: relative
  
  &> *
    padding-left: $subtable-side-padding
    padding-right: $subtable-side-padding
  
  &:first-of-type
    margin-top: 0


.titleContainer
  border-bottom-right-radius: space(7) 100%
  padding-top: space(0.5)
  padding-bottom: space(0.25)
  display: flex
  position: relative
  justify-content: space-between
  background-color: red
  color: white

  .titleSpacer
    height: 100%
    width: 100%
    position: absolute
    left: 0
    top: 0
    z-index: -1
    background-color: pink
    transition: height 0.1s
    transition-timing-function: linear
    transition-delay: 0s
    
    &.invisible
      height: 0
      transition-delay: 0.2s
  

.buttonContainer
  height: space(7)
  width: 100%
  box-sizing: border-box
  padding-top: space(1.5)
  padding-bottom: space(1.5)
  display: flex
  overflow: hidden
  transition: $subtable-control-height-transition
  transition-timing-function: ease-in-out
  transition-delay: 0.1s
  background-color: pink
  
  > button:nth-of-type(2) > svg
    margin-right: 2px
  
  &.invisible
    height: 0
    padding-top: 0
    padding-bottom: 0
    transition-delay: 0s