/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import 'design'

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

.subtableRoot
  margin: space(3) 0
  padding: 0 space(2)

.buttonContainer
  display: flex
  margin-top: space(0.5)
  
  button
    margin-right: space(1)
    &:last-of-type
      margin-right: 0