/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import 'design'

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

.tableRoot
  margin-bottom: space(4)
  overflow: hidden

  .subtableCollectionContainer
    // max-width: space(100)

  .tableGroupControl
    height: space(3.25)
    padding: space(1)
    background-color: black
    display: flex

    @include small-media
      height: auto
      padding: space(1.5) space(2) space(1.5) space(1)
      display: grid
      grid-template: 1fr auto / space(6) 1fr space(6)
      row-gap: space(1.5)
      
      button:nth-of-type(1)
        grid-column: 1 / 2
        grid-row: 2 / 3

      a
        grid-column: 2 / 3
        grid-row: 2 / 3
        text-align: center
        
      button:nth-of-type(2)
        grid-column: 3 / 4
        grid-row: 2 / 3
      
      select
        grid-column: 1 / 4
        grid-row: 1 / 2
        // border: 1px solid #7a7a7a !important
        border-radius: space(1)
        padding: 2%

    button
      background-color: transparent

    select
      background-color: black
      color: white
      border: none
      &:focus
        outline: dotted 1px white

    .rollButton
      border: none
      background: transparent
      padding: 1px
      height: space(3.25)

    @include medium-and-large-media
      & > *
        margin-right: space(1)
        &:last-child
          margin-right: 0