/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import 'design'

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

.tableRoot
  // max-width: space(100)
  // background-color: pink
  margin-bottom: space(4)

  .subtableCollectionContainer
    // max-width: space(100)

  .tableGroupControl
    height: space(3.25)
    padding: space(1)
    background-color: black
    display: flex

    button
      background-color: transparent

    select
      background-color: black
      color: white
      border: none
      &:focus
        outline: dotted 1px white

    .rollButton
      border: none
      background: transparent
      padding: 1px
      height: space(3.25)

    & > *
      margin-right: space(1)
      &:last-child
        margin-right: 0
