/////////////////////////////////////////////////////////////////////////////////
/////////////                                                               SETUP

@import 'design'

/////////////////////////////////////////////////////////////////////////////////
/////////////                                                              STYLES

#tableRoot
  margin-bottom: space(3)

  #subtableCollectionContainer
    max-width: space(100)

  form *
    margin-right: space(1)
    &:last-child
      margin-right: 0